/* ===== NAVBAR (FLEXBOX) ===== */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
}

nav div {
    display: flex;
    gap: 25px;
}

nav button {
    background: #ff4f4f;
    border: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Section headings */
.section-title {
    margin-left: 40px;
    font-size: 28px;
}

/* ===== TOP SECTION (GRID) ===== */
#top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 40px;
}

.card {
    background: #ff3f3f;
    padding: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}

.top-card-img {
    width: 120px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

/* ===== MID SECTION (GRID) ===== */
#mid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
    margin: 40px;
}

.mcard {
    background: #ffffff;
    padding: 15px;
    text-align: center;
}

.mid-icon {
    width: 50px;
    margin-bottom: 10px;
}
